extends templates/layout.pug

block vars
  - var activepage = "dashboard";
  - var headerText = "SHIPPER";

block content

  .loading-page
    .loading-page__wrap
      .loading-page__logo
        .icon
          img(src="images/logo-icon.png")
        .text
          img(src="images/logo-text.png")
    span.foot-text PT ANTAR GLOBAL PROSPERO
  .block-dashboard
    section.inner-header
      .container
        .row
          .col-lg-7.animate.animate--up
            a.arrow.mobile(href="dashboard.html")
            h1 Rincian Delivery Order
          .col-lg-5.animate.animate--up
            .search
              form
                .form-group
                  input.form-control(type="text" placeholder="Ketik Nomor Purchase Order / Delivery Order ...")
        .breadcrubms.animate.animate--up
          u NAVIGATION :
          a(href="#") Homepage
          a(href="#") Dashboard
          a(href="#") PO Aktif
          span RINGKASAN PURCHASE ORDER

    section.your-do
      .container
        .your-do__do-det.det-do-send.animate.animate--up
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Delivery Order
                h3 DO-AGRS-040221.71
                .progress-bar
                  .pb
                    .pb-block
                      span(style="width: 100%")
                    .prcntg 100%
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Batubara
                      small Nama Barang
                  .col-lg-6
                    .box-text
                      p Terkirim
                      small Status
            .col-lg-6.hide-mobile
              .box-card.po-do-det.light-green
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .link-seemore
                  a(href="#") Lihat lebih lanjut
                .row
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Kubikasi / Volume

    section.det-do-po-wrapper.hide-mobile.animate.animate--up
      .container
        .box-card
          .section-title
            small Rincian Delivery Order
            h2 DO-AGRS-040221.71
          .detail-wrapper
            ul
              li.row
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Nama Driver
                      .col-md-6
                        span SUGITO
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Jenis Kendaraan
                      .col-md-6
                        span DUMPT TRUCK
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b NOMOR KENDARAAN
                      .col-md-6
                        span W 9275 UL
                .col-md-6
                  //- .two-block
                  //-   .row
                  //-     .col-md-6
                  //-       b NOMOR KENDARAAN
                  //-     .col-md-6
                  //-       span W 9275 UL
              li.row
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Nama Barang
                      .col-md-6
                        span Batubara
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Satuan Muatan
                      .col-md-6
                        span Satuan Muatan
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Jenis Barang
                      .col-md-6
                        span Jenis Barang
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b Jumlah Barang
                      .col-md-6
                        span Jumlah Barang
              li.row
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b KOTA MUAT
                      .col-md-6
                        span KOTA A
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b KOTA BONGKAR
                      .col-md-6
                        span KOTA B
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b ALAMAT MUAT
                      .col-md-6
                        span ALAMAT
                .col-md-6
                  .two-block
                    .row
                      .col-md-6
                        b ALAMAT BONGKAR
                      .col-md-6
                        span ALAMAT
                .col-md-6
                  .datevol-block
                    .row
                      .col-md-8
                        span TanggaL Muat (DD.MM.YYYY)
                      .col-md-4
                        span VOL AWAL
                .col-md-6
                  .datevol-block
                    .row
                      .col-md-8
                        span TanggaL Muat (DD.MM.YYYY)
                      .col-md-4
                        span VOL AWAL
                .col-md-6
                  .single-block
                    b Nama PIC Muat
                  .single-block
                    b Nomor Telepon
                .col-md-6
                  .single-block
                    b NAMA PIC BONGKAR
                  .single-block
                    b Nomor Telepon
              li.row
                .col-md-6
                  .show-document
                    small Klik tombol disamping untuk <br>melihat surat jalan muat
                    .btn-wrap
                      span Lihat Surat Jalan
                      a.btn-show(href="#")
                .col-md-6
                  .show-document
                    small Klik tombol disamping untuk <br>melihat surat jalan bongkar
                    .btn-wrap
                      span Lihat Surat Jalan
                      a.btn-show(href="#")

    //- Section mobile
    section.det-do-po-wrapper.show-mobile.animate.animate--up
      .container
        .box-card.animate.animate--up
          .detail-wrapper
            .single-block
              span Nama Barang
            .single-block
              span Jenis Barang
            .single-block
              span Satuan Muatan
            .single-block
              span Jumlah Barang

        .box-card.animate.animate--up
          .detail-wrapper
            .single-block
              span Kota Muat
            .single-block
              span Alamat Muat
            .single-block
              span Tanggal Muat
            .single-block
              span Nama PIC Muat
            .single-block
              span Nomor Telepon
            .divider
            .single-block
              span.desk Desrkpripsi Tambahan

        .box-card.animate.animate--up
          .detail-wrapper
            .single-block
              span Kota Bongkar
            .single-block
              span Alamat Bongkar
            .single-block
              span Tanggal Bongkar
            .single-block
              span Nama PIC Bongkar
            .single-block
              span Nomor Telepon
            .divider
            .single-block
              span.desk Desrkpripsi Tambahan


    section.po-and-features
      .container
        .row
          .col-lg-3
            .box-card.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-envelope.png)")
                .floating-number 3
              h4 <b>Agros</b> Messenger
              .text
                p Interaksi eksklusif <b>1-ON-1</b> bersama Agros Sales / Admin sesuai dengan Office Hours.
              .link-seemore
                a(href="#") <b>MON - FRI</b> 09.00 - 17.00
          .col-lg-3
            .box-card.atrans.blink.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-coin.png)")
                .floating-number 3
              h4 <b>Agros</b> Transaction
              .text
                p Halaman pembayaran eksklusif yang menawarkan kemudahan untuk muatan Anda.
              .link-seemore
                a(href="#") Lihat Tagihan Anda
          .col-lg-6
            .poa__slider.animate.animate--up
              .slider-item
                .box-card.row
                  .col-md-6
                    .icon
                      .ic(style="background-image: url(images/ic-rect-message.png)")
                    h4 <b>Kritik atau Saran?</b>
                    .text
                      p Agros Team sangat terbuka dengan kritik dan saran Anda demi kenyaman Anda.
                    .link-seemore
                      a(href="#") <b>Masukan Kritik atau Saran</b>
                  .col-md-6
                    img(src="images/img-login.png", alt="img")
              .slider-item
                .box-card.row
                  .col-md-6
                    .icon
                      .ic(style="background-image: url(images/ic-rect-message.png)")
                    h4 <b>Kritik atau Saran?</b>
                    .text
                      p Agros Team sangat terbuka dengan kritik dan saran Anda demi kenyaman Anda.
                    .link-seemore
                      a(href="#") <b>Masukan Kritik atau Saran</b>
                  .col-md-6
                    img(src="images/img-login.png", alt="img")
