extends templates/layout.pug

block vars
  - var activepage = "order";
  - var headerText = "SHIPPER";

block content

  .loading-page
    .loading-page__wrap
      .loading-page__logo
        .icon
          img(src="images/logo-icon.png")
        .text
          img(src="images/logo-text.png")
    span.foot-text PT ANTAR GLOBAL PROSPERO
  .block-dashboard
    section.inner-header
      .container
        .row
          .col-lg-7.animate.animate--up
            a.arrow.mobile(href="dashboard.html")
            h1 Tambah Purchase Orders
          .col-lg-5.animate.animate--up
            .search
              form
                .form-group
                  input.form-control(type="text" placeholder="Ketik Nomor Purchase Order / Delivery Order ...")
        .breadcrubms.animate.animate--up
          u NAVIGATION :
          a(href="#") Homepage
          a(href="#") Dashboard
          span FORM PURCHASE ORDER

    section.po-and-features
      .container
        .row
          .col-lg-4
            .box-card.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-user-accnt.png)")
              a.ext-link(href="#" target="_blank")
              h3 KEMBALI KE MENU UTAMA
              .text
                p Kembali ke menu utama untuk <br>melihat ringkasan.

          .col-lg-4
            .box-card.gradient-green.animate.animate--up(style="background-image: url(images/box-bg-pattern-green.png)")
              .icon
                .ic(style="background-image: url(images/ic-box-add.png)")
              a.ext-link(href="#" target="_blank")
              h3 TAMBAH <br>PURCHASE ORDER
              .text
                p Purchase order dapat dilakukan <br>dalam Agros Shipper
          .col-lg-2
            .box-card.light-green.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-check.png)")
              h4 <b>PO</b> Aktif
              .text
                p Purchase order yang <b>belum berjalan</b>.
              .total
                span 10
              .link-seemore
                a(href="#") Lihat lebih lanjut
          .col-lg-2
            .box-card.cream.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-file.png)")
              h4 <b>PO</b> Aktif
              .text
                p Purchase order yang <b>sedang berjalan</b>.
              .total
                span 2
              .link-seemore
                a(href="#") Lihat lebih lanjut


    section.po-form.hide-mobile
      .container
        .section__head.animate.animate--up
          h2 Form Purchase Order
          p Form yang perlu Anda isi untuk
        .form-wrapper.sform
          form
            .row
              .col-md-6
                .form-group
                  input.form-control(type="text" placeholder="Nama Barang")
                .form-group
                  select.select-control(title="Jenis Barang")
                    option(value="") Barang 1
                    option(value="") Barang 2
                    option(value="") Barang 3
                    option(value="") Barang 4
                    option(value="") Barang 5
                    option(value="") Barang 6

              .col-md-6
                .form-group
                  select.select-control(title="Satuan Muatan")
                    option(value="") Kg
                    option(value="") Ton
                    option(value="") Kwintal
                .form-group
                  select.select-control(title="Jumlah Barang")
                    option(value="") 100
                    option(value="") 200
                    option(value="") 300
              .col-md-12.divider
              .col-md-6
                p Pilih jenis kendaraan yang Anda inginkan
              .col-md-6
                .form-group
                  select.select-control(title="Jenis Kendaraan")
                    option(value="") Dump Truck (35 TON / 25 M3)
                    option(value="") Dump Truck (35 TON / 25 M3)
                    option(value="") Dump Truck (35 TON / 25 M3)
              .col-md-12.divider
              .col-md-6
                .form-group
                  input.form-control(type="text" placeholder="Masukan Kota Asal Muat")
                .form-group
                  input.form-control(type="text" placeholder="Masukan Alamat Muat")
              .col-md-6
                .form-group
                  input.form-control(type="text" placeholder="Masukan Kota Bongkar")
                .form-group
                  input.form-control(type="text" placeholder="Masukan Alamat Bongkar")
              .col-md-12.divider
              .col-md-6
                .box-map
                  .map
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=tugu%20pahlawan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              .col-md-6
                .box-map
                  .map
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=tugu%20pahlawan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              .col-md-12.divider
              .col-md-6
                .form-group
                  input.form-control(type="text" placeholder="Tanggal Muat DD/MM/YYY")
                .form-group
                  input.form-control(type="text" placeholder="Nama PIC Muat")
                .form-group
                  input.form-control(type="text" placeholder="Nomor Telepon")
              .col-md-6
                .form-group
                  input.form-control(type="text" placeholder="Tanggal Muat DD/MM/YYY")
                .form-group
                  input.form-control(type="text" placeholder="Nama PIC Bongkar")
                .form-group
                  input.form-control(type="text" placeholder="Nomor Telepon")
              .col-md-12.divider
              .col-md-6
                .form-group
                  textarea.form-control(placeholder="Deskripsi Tambahan")
              .col-md-6
                .form-group
                  textarea.form-control(placeholder="Deskripsi Tambahan")
              .col-md-12.divider
              .col-md-6
                .form-group.border-green
                  input.form-control(type="text" placeholder="Ongkos Angkut")
              .col-md-6
                .form-group.border-green
                  input.form-control(type="text" placeholder="Estimasi Ritase")
              .col-md-6.offset-md-6
                .form-action
                  .btn-submit
                    button.btn(type="submit") Submit Pendaftaran

    //- Section for mobile view
    section.po-form.show-mobile.animate.animate--up
      .container
        .section__head.animate.animate--up
          h2 Form Purchase Order
          p Pilih salah satu menu untuk mendapatkan informasi yang Anda inginkan terkait dengan muatan Anda.
        form
          .form-wrapper.sform.animate.animate--up
            .form-group
              input.form-control(type="text" placeholder="Nama Barang")
            .form-group
              select.select-control(title="Jenis Barang")
                option(value="") Barang 1
                option(value="") Barang 2
                option(value="") Barang 3
                option(value="") Barang 4
                option(value="") Barang 5
                option(value="") Barang 6
            .form-group
              select.select-control(title="Satuan Muatan")
                option(value="") Kg
                option(value="") Ton
                option(value="") Kwintal
            .form-group
              select.select-control(title="Jumlah Barang")
                option(value="") 100
                option(value="") 200
                option(value="") 300

          .form-wrapper.sform.animate.animate--up
            .form-group
              input.form-control(type="text" placeholder="Masukan Kota Asal Muat")
            .form-group
              input.form-control(type="text" placeholder="Masukan Alamat Muat")
            .form-group
              .box-map
                .map
                  <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=tugu%20pahlawan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            .form-group
              input.form-control(type="text" placeholder="Tanggal Muat DD/MM/YYY")
            .form-group
              input.form-control(type="text" placeholder="Nama PIC Muat")
            .form-group
              input.form-control(type="text" placeholder="Nomor Telepon")
            .divider
            .form-group
              textarea.form-control(placeholder="Deskripsi Tambahan")

          .form-wrapper.sform.animate.animate--up
            .form-group
              input.form-control(type="text" placeholder="Masukan Kota Bongkar")
            .form-group
              input.form-control(type="text" placeholder="Masukan Alamat Bongkar")
            .form-group
              .box-map
                .map
                  <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=tugu%20pahlawan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            .form-group
              input.form-control(type="text" placeholder="Tanggal Muat DD/MM/YYY")
            .form-group
              input.form-control(type="text" placeholder="Nama PIC Muat")
            .form-group
              input.form-control(type="text" placeholder="Nomor Telepon")
            .divider
            .form-group
              textarea.form-control(placeholder="Deskripsi Tambahan")

          .form-wrapper.sform.animate.animate--up
            .form-group.border-green
              input.form-control(type="text" placeholder="Ongkos Angkut")
            .form-group.border-green
              input.form-control(type="text" placeholder="Estimasi Ritase")
            .form-action
              .btn-submit
                button.btn(type="submit") Submit Pendaftaran



    section.po-and-features.hide-mobile
      .container
        .row
          .col-lg-3
            .box-card.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-envelope.png)")
                .floating-number 3
              h4 <b>Agros</b> Messenger
              .text
                p Interaksi eksklusif <b>1-ON-1</b> bersama Agros Sales / Admin sesuai dengan Office Hours.
              .link-seemore
                a(href="#") <b>MON - FRI</b> 09.00 - 17.00
          .col-lg-3
            .box-card.atrans.blink.animate.animate--up
              .icon
                .ic(style="background-image: url(images/ic-rect-coin.png)")
                .floating-number 3
              h4 <b>Agros</b> Transaction
              .text
                p Halaman pembayaran eksklusif yang menawarkan kemudahan untuk muatan Anda.
              .link-seemore
                a(href="#") Lihat Tagihan Anda
          .col-lg-6
            .poa__slider.animate.animate--up
              .slider-item
                .box-card.row
                  .col-md-6
                    .icon
                      .ic(style="background-image: url(images/ic-rect-message.png)")
                    h4 <b>Kritik atau Saran?</b>
                    .text
                      p Agros Team sangat terbuka dengan kritik dan saran Anda demi kenyaman Anda.
                    .link-seemore
                      a(href="#") <b>Masukan Kritik atau Saran</b>
                  .col-md-6
                    img(src="images/img-login.png", alt="img")
              .slider-item
                .box-card.row
                  .col-md-6
                    .icon
                      .ic(style="background-image: url(images/ic-rect-message.png)")
                    h4 <b>Kritik atau Saran?</b>
                    .text
                      p Agros Team sangat terbuka dengan kritik dan saran Anda demi kenyaman Anda.
                    .link-seemore
                      a(href="#") <b>Masukan Kritik atau Saran</b>
                  .col-md-6
                    img(src="images/img-login.png", alt="img")


    section.agros-service
      .container
        .section__head.animate.animate--up
          h2 Layanan Agros
          p Your Truly Logistics Solutions, Agros selalu memberi kemudahan dan kenyamanan untuk Anda.
          .link-seemore
            a(href="#") Homepage Kami
        .service__slider.animate.animate--up
          .slider-item.dark(style="background-image: url(images/hero-driver.jpg)")
            .content
              h4 AGROS DRIVER
              p Agros menawarkan keleluasaan untuk memilih proyek sehingga peningkatan pendapatan bukan lagi jadi impian.

              a.link(href="#") Kunjungi laman
          .slider-item(style="background-image: url(images/hero-home.jpg)")
            .content
              h4 AGROS DRIVER
              p Agros menawarkan keleluasaan untuk memilih proyek sehingga peningkatan pendapatan bukan lagi jadi impian.

              a.link(href="#") Kunjungi laman
          .slider-item.dark(style="background-image: url(images/hero-driver.jpg)")
            .content
              h4 AGROS SHOP
              p Saat terjebak di jalan karena ada gangguan atau kerusakan, armada Agros yang tersebar di seluruh Indonesia akan kami sambungkan dengan bengkel Anda.

              a.link(href="#") Kunjungi laman
          .slider-item.dark(style="background-image: url(images/hero-driver.jpg)")
            .content
              h4 AGROS TRANSPORTER
              p Tidak ada yang tidak mungkin. Kini, Perusahaan bisa dengan cepat mendapatkan keuntungan tanpa harus melakukan hal berat.

              a.link(href="#") Kunjungi laman

    section.po-history
      .container
        .section__head.animate.animate--up
          h2 Riwayat Purchase Order
          p Purchase order otomatis akan tersimpan dan terkumpul dalam halaman riwayat.
          //- .link-seemore
          //-   a(href="#") Homepage Kami
        .po-history__list
          ul
            li.animate.animate--up
              a(href="#")
                .icon-box
                  .icon(style="background-image: url(images/ic-rect-check-green.png)")
                .box-det
                  .po-numb
                    span DO-AGRS-040221.79
                    small 22/12/2020
                  .prdct-name
                    span PASIR CUCI
                    small 20.000 TON
                  .load
                    span TUBAN
                    small 22/12/2020
                  .unload
                    span LAMONGAN
                    small 23/12/2020
                .box-det.mobile
                  .po-numb
                    span PO-AGRS-040221.71
                  .bottom
                    span.date 22/12/2020
                    span.loadun <u>Tuban</u> - <u>Gresik</u>
                    span.weight 35 TON
                .arrow
                  .ic-arrow
            li.animate.animate--up
              a(href="#")
                .icon-box
                  .icon(style="background-image: url(images/ic-rect-check-green.png)")
                .box-det
                  .po-numb
                    span DO-AGRS-040221.79
                    small 22/12/2020
                  .prdct-name
                    span PASIR CUCI
                    small 20.000 TON
                  .load
                    span TUBAN
                    small 22/12/2020
                  .unload
                    span LAMONGAN
                    small 23/12/2020
                .box-det.mobile
                  .po-numb
                    span PO-AGRS-040221.71
                  .bottom
                    span.date 22/12/2020
                    span.loadun <u>Tuban</u> - <u>Gresik</u>
                    span.weight 35 TON
                .arrow
                  .ic-arrow
            li.animate.animate--up
              a(href="#")
                .icon-box
                  .icon(style="background-image: url(images/ic-rect-check-green.png)")
                .box-det
                  .po-numb
                    span DO-AGRS-040221.79
                    small 22/12/2020
                  .prdct-name
                    span PASIR CUCI
                    small 20.000 TON
                  .load
                    span TUBAN
                    small 22/12/2020
                  .unload
                    span LAMONGAN
                    small 23/12/2020
                .box-det.mobile
                  .po-numb
                    span PO-AGRS-040221.71
                  .bottom
                    span.date 22/12/2020
                    span.loadun <u>Tuban</u> - <u>Gresik</u>
                    span.weight 35 TON
                .arrow
                  .ic-arrow
            li.animate.animate--up
              a(href="#")
                .icon-box
                  .icon(style="background-image: url(images/ic-rect-check-green.png)")
                .box-det
                  .po-numb
                    span DO-AGRS-040221.79
                    small 22/12/2020
                  .prdct-name
                    span PASIR CUCI
                    small 20.000 TON
                  .load
                    span TUBAN
                    small 22/12/2020
                  .unload
                    span LAMONGAN
                    small 23/12/2020
                .box-det.mobile
                  .po-numb
                    span PO-AGRS-040221.71
                  .bottom
                    span.date 22/12/2020
                    span.loadun <u>Tuban</u> - <u>Gresik</u>
                    span.weight 35 TON
                .arrow
                  .ic-arrow
            li.animate.animate--up
              a(href="#")
                .icon-box
                  .icon(style="background-image: url(images/ic-rect-check-green.png)")
                .box-det
                  .po-numb
                    span DO-AGRS-040221.79
                    small 22/12/2020
                  .prdct-name
                    span PASIR CUCI
                    small 20.000 TON
                  .load
                    span TUBAN
                    small 22/12/2020
                  .unload
                    span LAMONGAN
                    small 23/12/2020
                .box-det.mobile
                  .po-numb
                    span PO-AGRS-040221.71
                  .bottom
                    span.date 22/12/2020
                    span.loadun <u>Tuban</u> - <u>Gresik</u>
                    span.weight 35 TON
                .arrow
                  .ic-arrow
        .row
          .col-lg-6
          .col-lg-6
            .pagination-wrap.animate.animate--up
              u Halaman
              ul.pagination
                li.active
                  span 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li
                  a(href="#") 5

                li.before
                  a(href="#")
                    .ic-arrow
                li.after
                  a(href="#")
                    .ic-arrow


