extends templates/layout.pug

block vars
  - var activepage = "muatan";
  - var headerText = "SHIPPER";

block content

  .loading-page
    .loading-page__wrap
      .loading-page__logo
        .icon
          img(src="images/logo-icon.png")
        .text
          img(src="images/logo-text.png")
    span.foot-text PT ANTAR GLOBAL PROSPERO
  .block-dashboard
    section.inner-header
      .container
        .row
          .col-lg-7.animate.animate--up
            a.arrow.mobile(href="dashboard.html")
            h1 Purchase Order Sisa
          .col-lg-5.animate.animate--up
            .search
              form
                .form-group
                  input.form-control(type="text" placeholder="Ketik Nomor Purchase Order / Delivery Order ...")
        .breadcrubms.animate.animate--up
          u NAVIGATION :
          a(href="#") Homepage
          a(href="#") Dashboard
          span PURCHASE ORDER AKTIF

    section.po-and-features
      .container
        .row
          .col-lg-2
            .box-card.light-green.bg-white.animate.animate--up
              a.boxlink(href="#")
              .icon
                .ic(style="background-image: url(images/ic-rect-check.png)")
              h4 <b>PO</b> Aktif
              .text
                p Purchase order yang <b>sedang berjalan</b>.
              .total
                span 10
              .link-seemore
                a(href="#") Lihat lebih lanjut
          .col-lg-2
            .box-card.cream.animate.animate--up
              a.boxlink(href="#")
              .icon
                .ic(style="background-image: url(images/ic-rect-file.png)")
              h4 <b>PO</b> Sisa
              .text
                p Purchase order yang <b>belum berjalan</b>.
              .total
                span 2
              .link-seemore
                a(href="#") Lihat lebih lanjut

          .col-lg-4
            .box-card.gradient-green.animate.animate--up(style="background-image: url(images/box-bg-pattern-green.png)")
              a.boxlink(href="#")
              .icon
                .ic(style="background-image: url(images/ic-box-add.png)")
              a.ext-link(href="po-add.html" target="_blank")
              h3 TAMBAH <br>PURCHASE ORDER
              .text
                p Purchase order dapat dilakukan <br>dalam Agros Shipper

          .col-lg-4
            .box-card.animate.animate--up
              a.boxlink(href="#")
              .icon
                .ic(style="background-image: url(images/ic-user-accnt.png)")
              a.ext-link(href="#" target="_blank")
              h3 PT. ANTAR GLOBAL PROSPERO
              .contact
                a(href="tel: +62313974550") +62 (31) 3974550
                <br>
                a(href="mailto:antarglobalprospero@gmail.com") Antarglobalprospero@gmail.com

    section.your-do.det-list
      .container
        .your-do__do-det.animate.animate--up
          a.boxlink(href="#")
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar.rest
                  .pb
                    .pb-block
                      span(style="width: 100%")
                    .prcntg
                      .ic(style="background-image: url(images/ic-clock-delay.png)")
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                a.boxlink(href="#")
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                a.boxlink(href="#")
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")
        .your-do__do-det.animate.animate--up
          a.boxlink(href="#")
          .row
            .col-lg-6
              .box-po
                span.small-title Nomor Purchase Order
                h3 AGR001/02/2020#096
                .progress-bar.rest
                  .pb
                    .pb-block
                      span(style="width: 100%")
                    .prcntg
                      .ic(style="background-image: url(images/ic-clock-delay.png)")
                  small Prosentase pengiriman muatan Anda.
                .row
                  .col-lg-6
                    .box-text
                      p Pasir Lumajang
                      small Jenis Barang
                  .col-lg-6
                    .box-text
                      p 20.000 TON
                      small Tonase / Kubikasi
            .col-lg-3
              .box-card.light-green
                a.boxlink(href="#")
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-active.png)")
                h4 <b>DO</b> Aktif
                .text
                  p Delivery order yang sedang dalam pengiriman.
                .total
                  span 400
                .link-seemore
                  a(href="#") Lihat lebih lanjut
            .col-lg-3
              .box-card.cream
                a.boxlink(href="#")
                .icon
                  .ic(style="background-image: url(images/ic-rect-do-sisa.png)")
                h4 <b>PO</b> Sisa
                .text
                  p Delivery order yang sedang kami proses.
                .total
                  span 200
                .link-seemore
                  a(href="#") Lihat lebih lanjut
          a.ext-link(href="#" target="_blank")


        .row
          .col-lg-6
            .pagination-wrap.left
              .text
                p Jumlah Purchase Order per halaman
              .perpage
                ul.pagination
                  li.active
                    span 5
                  li
                    a(href="#") 10
          .col-lg-6
            .pagination-wrap.animate.animate--up
              u Halaman
              ul.pagination
                li.active
                  span 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li
                  a(href="#") 5

                li.before
                  a(href="#")
                    .ic-arrow
                li.after
                  a(href="#")
                    .ic-arrow
