extends templates/layout.pug

block vars
  - var activepage = "dashboard";
  - var headerText = "SHIPPER";

block header
  header.header.static-page#header(class=headerColor=="white"?"header--white":"")
    .container
      a.header__logo(href="dashboard.html")
        img.img(src="images/logo-agros.png")
        img.img-alt(src="images/logo-agros-alt.png")
        span.text= headerText
      .header__menu
        ul
          li.btn-home
            a(href="dashboard.html")
              i.icon
                .ic(style="background-image: url(images/ic-home.svg)")
          li.btn-notif
            a(href="#")
              span.icon
                .ic(style="background-image: url(images/ic-notif.svg)")
                i.number 3
            .notif-box
              h3 Notifikasi
              .n-wrapper
                .pertime
                  span Hari ini,
                  span.t-notif  3 Notifikasi Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                  .tag.new Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                  .tag.new Baru
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-coin.png)")
                  .box-text
                    small Agros Transaction
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PO AGR001/02/2020#096
                    a.btn-do(href="#") Selesaikan Tagihan 1
                    .time 15 menit yang lalu
                .pertime
                  span Kemarin,
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-envelope.png)")
                  .box-text
                    small Agros Messengger
                    h4 Muatan Terlambat Karena...
                    span.nopo Mega Admin: Kemarin sebenernya sudah di lanjutkan
                    .time 1 Hari yang lalu
                  .tag.msg 12 Pesan
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-envelope.png)")
                  .box-text
                    small Agros Messengger
                    h4 Muatan Terlambat Karena ...
                    span.nopo Leny Admin: Kemarin sebenernya sudah di lanjutkan
                    .time 1 Hari yang lalu
                  .tag.msg 12 Pesan
                .notif-item
                  .icon
                    .ic(style="background-image: url(images/ic-rect-pending.png)")
                  .box-text
                    small Muatan Tertunda
                    h4 DO-AGRS-040221.71
                    span.nopo NO. PURCHASE ORDER AGR001/02/2020#096
                    .time 1 Hari yang lalu
              .clue Scroll kebawah untuk melihat lebih banyak

          li.btn-login
            a(href="#") LOGOUT
      .header__toggle
        span
        span
        span
      .mobile__floating-menu
        ul
          li
            a(href="home.html")
              .icon-box
                .icon(style="background-image: url(images/ic-menu-mobile-01.svg)")
              span Home

          li
            a(href="#")
              .icon-box
                .icon(style="background-image: url(images/ic-menu-mobile-02.svg)")
              span Order
          li
            a(href="#")
              .icon-box
                .icon(style="background-image: url(images/ic-menu-mobile-03.svg)")
              span Muatan

block content
  .loading-page
    .loading-page__wrap
      .loading-page__logo
        .icon
          img(src="images/logo-icon.png")
        .text
          img(src="images/logo-text.png")
    span.foot-text PT ANTAR GLOBAL PROSPERO

  .block-dashboard.bill-page(style="background-image: url(images/bg-bubble-green-medium.png)")
    .container
      .box-white
        .top
          .logo-midtrans
            img(src="images/logo-midtrans.png", alt="logo-midtrans")
          .icon(style="background-image: url(images/ic-redirect-remain.png)")
          .no-po ORDER ID 366868101
          h1 Rp. 1.850.997
          p Dipersilahkan untuk Anda menyelesaikan transaksi dengan waktu yang telah ditentukan.
        .bottom
          .row
            .col-md-2
              .block
                .label Nama Bank
                b BCA
            .col-md-7
              .block
                .label VA Number
                b 383695115532149
            .col-md-3
              .block.time
                .label Sisa Waktu
                b 02:00:00

block footer
