footer.footer#footer
  .footer-main.animate.animate--up
    .container


  .footer-bot
    .container
      .footer-bot__left
        .footer-bot__logo
          img(src="images/logo-agros-w.png")
        span.line
        .copy PT ANTAR GLOBAL PROSPERO &copy; 2021. All rights reserved.
      .footer-bot__right
        a(href="#") SYARAT & KETENTUAN
        a(href="#") KEBIJAKAN PRIVASI